/*--------------------------------------------------------------
DIRECTORY
    
.AA Global

.01 Header

.02 Dashboard

.03 Home

.04 Search

.05 Content

.XX RESPONSIVE 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
.AA GLOBAL STARTS
--------------------------------------------------------------*/
:root {
  --white: #fff;
  --background: #f6f6f6;
  --border: #e1e1e1;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.container {
  position: absolute;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  max-width: 1200px;
  background-color: var(--background);
  inset: 100px 0px 40px 0px;
  margin: auto;
}

.showDeleteMessage {
  display: block !important;
}

/*--------------------------------------------------------------
.AA GLOBAL ENDS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
.01 Header STARTS
--------------------------------------------------------------*/
#nat-header {
  position: fixed;
  z-index: 1;
  inset: 0 0 0 0;
  background-color: blue;
  height: 60px;
}

/*--------------------------------------------------------------
.01 Header ENDS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
.02 Dashboard STARTS
--------------------------------------------------------------*/
.nat-dashboard {
  background-color: var(--background);
}

.nat-dashboard .delete-success {
  position: absolute;
  display: none;
  inset: 60px 0 0 0;
  height: 40px;
  background-color: yellow;
}

.nat-dashboard .container {
  display: grid;
  grid-template-columns: 400px 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "leftCol rightCol rightCol rightCol";
}

.nat-dashboard .container .leftCol {
  grid-area: leftCol;
  position: relative;
}

.nat-dashboard .container .leftCol .ticket-container {
  position: absolute;
  inset: 0 0 0 0;
  overflow-x: hidden;
  background-color: var(--white);
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid var(--border);
  background-color: var(--white);
  cursor: pointer;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .key {
  display: none;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .timestamp {
  float: right;
  display: block;
  font-size: 12px;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .ticket {
  display: none;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .clerkName {
  display: block;
  float: left;
  height: 16px;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .subject {
  position: absolute;
  top: 30px;
  display: block;
  height: 16px;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .comment {
  position: absolute;
  top: 50px;
  display: block;
  height: 16px;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container:last-of-type {
  border-bottom: 1px solid var(--border);
}

.nat-dashboard .container .rightCol {
  grid-area: rightCol;
  position: relative;
}

.nat-dashboard .container .rightCol .content-header {
  display: block;
  font-size: 24px;
  font-weight: 400;
}

.nat-dashboard .container .rightCol .content-host {
  position: absolute;
  box-sizing: border-box;
  padding: 24px;
  inset: 50px 0 30px 0;
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 6px;
}

.nat-dashboard .container .rightCol #deleteTicketBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*--------------------------------------------------------------
.02 Dashboard ENDS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
.03 Home STARTS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
.03 Home ENDS
--------------------------------------------------------------*/
