/*--------------------------------------------------------------
DIRECTORY
    
.AA Global

.01 Header

.02 Dashboard

.03 Home

.04 Custom Srcollbar

.05 Content

.XX RESPONSIVE 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
.AA GLOBAL STARTS
--------------------------------------------------------------*/
:root {
  --white: #fff;
  --background: #f6f6f6;
  --border: #e1e1e1;
  --lightBlue: #42708C;
  --alert: #fffdd9;
  --alertBorder: #ffeeba;
  --selected: #E1ECF8;
  --hover: #FAF9F8;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.container {
  position: absolute;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  max-width: 1200px;
  background-color: var(--background);
  inset: 100px 0px 40px 0px;
  margin: auto;
}

#deleteThisTicket {
  display: none;
}

.showDeleteMessage {
  display: block !important;
}

.dehighlight {
  color: #444;
  letter-spacing: .02em;
  font-weight: 300;
}

.dehighlight .profileInitials {
  background-color: #CCC !important;
}

.selectedTicket {
  background-color: var(--selected) !important;
}

/*--------------------------------------------------------------
.AA GLOBAL ENDS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
.01 Header STARTS
--------------------------------------------------------------*/
#nat-header {
  position: fixed;
  z-index: 1;
  inset: 0 0 0 0;
  background-color: var(--lightBlue);
  height: 60px;
}

/*--------------------------------------------------------------
.01 Header ENDS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
.02 Dashboard STARTS
--------------------------------------------------------------*/
.nat-dashboard {
  background-color: var(--background);
}

.nat-dashboard .deleted-ticket-alert-bar {
  position: absolute;
  display: none;
  inset: 60px 0 0 0;
  height: 40px;
  background-color: var(--alert);
  border-color: var(--alertBorder);
}

.nat-dashboard .deleted-ticket-alert-bar span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: #aeae85;
  z-index: 2;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  top: 50%;
  right: 20px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: background-color linear .15s;
}

.nat-dashboard .deleted-ticket-alert-bar span:hover {
  background-color: #ededc4;
  color: #aeae85;
}

.nat-dashboard .deleted-ticket-alert-bar div {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.nat-dashboard .container {
  display: grid;
  grid-template-columns: 440px 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "leftCol rightCol rightCol rightCol";
}

.nat-dashboard .container .leftCol {
  grid-area: leftCol;
  position: relative;
}

.nat-dashboard .container .leftCol .ticket-container {
  position: absolute;
  inset: 50px 0 30px 0;
  border: 1px solid var(--border);
  overflow-x: hidden;
  background-color: var(--white);
  border-radius: 6px;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 10px 10px 10px 50px;
  box-sizing: border-box;
  border-top: 1px solid var(--border);
  background-color: var(--white);
  cursor: pointer;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .profileInitials {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ccc;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .profileInitials span {
  height: 14px;
  color: var(--white);
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .key {
  display: none;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .timestamp {
  float: right;
  display: block;
  font-size: 12px;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .ticket {
  display: none;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .clerkName {
  display: block;
  float: left;
  height: 16px;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .subject {
  position: absolute;
  top: 30px;
  display: block;
  height: 16px;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container .comment {
  position: absolute;
  top: 50px;
  display: block;
  height: 16px;
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container:last-of-type {
  border-bottom: 1px solid var(--border);
}

.nat-dashboard .container .leftCol .ticket-container .single-ticket-container:hover {
  background-color: var(--hover);
}

.nat-dashboard .container .rightCol {
  grid-area: rightCol;
  position: relative;
}

.nat-dashboard .container .rightCol .content-header {
  margin: 15px 0 0 15px;
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.nat-dashboard .container .rightCol .content-host {
  position: absolute;
  box-sizing: border-box;
  padding: 25px 15px 0 60px;
  inset: 50px 0 30px 0;
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 6px;
}

.nat-dashboard .container .rightCol .content-host .content-host-profile {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  top: 20px;
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #CCC;
}

.nat-dashboard .container .rightCol .content-host .content-host-ticket-name {
  display: block;
}

.nat-dashboard .container .rightCol .content-host .content-host-ticket-timestamp {
  display: block;
}

.nat-dashboard .container .rightCol .content-host .content-host-message {
  display: block;
  margin: 20px 0 0 0;
}

.nat-dashboard .container .rightCol #deleteTicketBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0;
  background-color: red;
  height: 22px;
  width: 100px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.nat-dashboard .container .rightCol #deleteTicketBtn:hover {
  background-color: #cb0000;
}

/*--------------------------------------------------------------
.02 Dashboard ENDS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
.03 Home STARTS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
.03 Home ENDS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
.04 Custom Srcollbar STARTS
--------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*--------------------------------------------------------------
.04 Custom Srcollbar ENDS
--------------------------------------------------------------*/
