/*--------------------------------------------------------------
DIRECTORY
    
.AA Global

.01 Header

.02 Dashboard

.03 Home

.04 Custom Srcollbar

.05 Content

.XX RESPONSIVE 
--------------------------------------------------------------*/	
/*--------------------------------------------------------------
.AA GLOBAL STARTS
--------------------------------------------------------------*/

:root {
    --white: #fff;
    --background: #f6f6f6;
    --border: #e1e1e1;
    --lightBlue: #42708C;
    --alert:#fffdd9;
    --alertBorder:#ffeeba;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.container{
    position: absolute;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    max-width: 1200px;
    background-color: var(--background);
    inset: 100px 0px 40px 0px;
    margin: auto;
}
.showDeleteMessage{
    display: block !important;
}
.dehighlight{
    background-color: #f90 !important;
}
/*--------------------------------------------------------------
.AA GLOBAL ENDS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
.01 Header STARTS
--------------------------------------------------------------*/

#nat-header{
    position: fixed;
    z-index: 1;
    inset: 0 0 0 0;
    background-color: var(--lightBlue);
    height: 60px;
}

/*--------------------------------------------------------------
.01 Header ENDS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
.02 Dashboard STARTS
--------------------------------------------------------------*/
.nat-dashboard{
    background-color: var(--background);

    .deleted-ticket-alert-bar{
        position: absolute;
        display: none;
        inset: 60px 0 0 0;
        height: 40px;
        background-color: var(--alert);
        border-color: var(--alertBorder);

        span{
            position: absolute;
            z-index: 2;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: #f90;
            cursor: pointer;
            top:50%;
            right: 20px;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        div{
            position: relative;
            top:50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align: center;
        }
    }

    .container{
        display: grid;
        grid-template-columns: 400px 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-template-areas: 
        "leftCol rightCol rightCol rightCol";

        .leftCol {
            grid-area: leftCol;
            position: relative;

            .ticket-container{
                position: absolute;
                inset: 50px 0 30px 0;
                border: 1px solid var(--border);
                overflow-x: hidden;
                background-color: var(--white);
                border-radius: 6px;

                .single-ticket-container{
                    position: relative;
                    width: 100%;
                    height: 80px;
                    padding: 10px;
                    box-sizing: border-box;
                    border-top: 1px solid var(--border);
                    background-color: var(--white);
                    cursor: pointer;

                    .key{
                        display: none;
                    }

                    .timestamp{
                        float:right;
                        display: block;
                        font-size: 12px;
                    }

                    .ticket{
                        display: none;
                    }

                    .clerkName{
                        display: block;
                        float:left;
                        height: 16px;
                    }

                    .subject{
                        position: absolute;
                        top:30px;
                        display: block;
                        height: 16px;
                    }
                    .comment{
                        position: absolute;
                        top:50px;
                        display: block;
                        height: 16px;
                    }
                }
                .single-ticket-container:last-of-type{
                    border-bottom: 1px solid var(--border);
                }
            }
        }
        .rightCol {
            grid-area: rightCol;
            position: relative;

            .content-header{
                display: block;
                font-size: 24px;
                font-weight: 400;
            }

            .content-host{
                position: absolute;
                box-sizing: border-box;
                padding: 24px;
                inset: 50px 0 30px 0;
                background-color: var(--white);
                border:1px solid var(--border);
                border-radius: 6px;
            }

            #deleteTicketBtn{
                position: absolute;
                bottom:0;
                right: 0;
            }
        }
    }
}

/*--------------------------------------------------------------
.02 Dashboard ENDS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
.03 Home STARTS
--------------------------------------------------------------*/


/*--------------------------------------------------------------
.03 Home ENDS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
.04 Custom Srcollbar STARTS
--------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
/*--------------------------------------------------------------
.04 Custom Srcollbar ENDS
--------------------------------------------------------------*/